@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  p {
    line-height: 1.7;
    font-size: 1.25rem;
  }
}

@layer components {
  .primary-button {
    @apply w-fit rounded-full px-14 py-5 text-xs font-medium tablet:text-medium;
  }

  .secondary-button {
    @apply w-fit text-[1rem] font-medium;
  }

  .dropdown-button {
    @apply relative;
  }

  .nav {
    @apply flex items-center justify-between bg-black px-6 py-5 text-white tablet:px-8 desktop:px-17;
  }

  .process-card {
    @apply min-w-[39.75rem];
  }

  .project-card {
  }

  .question-and-answer-card {
    @apply border-b border-gray py-[3.625rem];
  }

  .title {
    @apply mb-14 text-title;
  }

  .section-heading {
    @apply mb-[4.5rem] text-sectionHeading;
  }

  .service-card {
    @apply flex items-center gap-50;
  }

  .sub-title {
    @apply mx-auto max-w-[62.25rem] text-[2rem] leading-[1.5];
  }

  .testimonial-card {
    @apply inline-block h-fit w-full max-w-[37.5rem] rounded-[4rem] border border-lightGray px-17 py-30;
  }

  .wrapper {
    @apply mx-auto max-w-[1920px] px-17 py-30;
  }
}
